* text=auto

*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.java text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.properties text eol=lf

*.jar binary
*.class binary
